[Unit]
Description=bronze packages daemon
Requires=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/packagesd

[Install]
WantedBy=multi-user.target
